@media only screen and (max-width: 650px) {
    .generator-app {
        width: 35rem;
    }

    .heading h1 {
        width: 35rem;
    }

    .input-container {
        width: 34rem;
    }

    .password-input input{
        width: 23rem;
        margin-right: 2rem;
    }

    .generator-setting {
        margin-right: 4rem;
    }
}

@media only screen and (max-width: 570px) {
    .generator-app {
        width: 30rem;
    }

    .heading h1 {
        width: 30rem;
    }

    .input-container {
        width: 20rem;
    }

    .password-input input{
        width: 20rem;
        margin-left: 10rem;
    }

    .generator-btn {
        padding: 0.3rem;
    }

    .generator-setting {
        width: 30rem;
    }
  
}

@media only screen and (max-width: 500px) {
    .generator-app {
        width: 25rem;
    }

    .heading h1 {
        font-size: 1.5rem;
        width: 25rem;
    }

    .input-container {
        width: 15rem;
    }

    .password-input input{
        width: 15rem;
        margin-left: 10rem;
    }

    .generator-setting {
        width: 25rem;
    }

}